
:root{
    --gray-200--: #E2E8F0;
    --gray-300--: #CBD5E1;
    --gray-900--:  #0F172A;
    --gray-800--:  #1E293B;
    --gray-700--:  #334155;
    --gray-600--: #475569;
    --orange--: #FBA94C;
    --purple--: #996DFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;

}

html,body{
    height: 100%;
}

.container{
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 2%;
}

.flex{
    display: flex;
    gap: 0 25px;
    
}

.pricing__table-container{
    width: 100%;
    max-width: 384px;
    min-height: 454px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid var(--gray-200--);
    padding: 48px 32px 0 32px;
    /* flex:1; */
    position: relative;
}

.pricing__table-container:nth-of-type(2){
    background-color: var(--gray-900--);
 
}




.pricing__table-container:nth-of-type(2):before{
    content: 'Mais vantajoso';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 133px;
    height: 34px;
    background-color: var(--orange--);
    text-align: center;
    line-height: 34px;
    font-weight: 700;
    top: -18px;
    border-radius: 6px;

}


.pricing__table-container > h2{
    font-weight: 600;
    color: var(--purple--);
    font-size: 0.875rem;
    text-transform: uppercase;
}


 .pricing__table-container > .signatures{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 


.pricing__table-container > .signatures > h1{
   font-weight: 700;
   color: var(--gray-800--);
   font-size: 2rem;
} 



.pricing__table-container > .signatures > span{
   font-size: 1.125rem;
   
 } 
 
 .pricing__table-container:nth-of-type(2) > .signatures > h1,
 .pricing__table-container:nth-of-type(2) > .signatures > span{
    color: #ffffff;
}


.pricing__table-container > .btn-signatures > button{
   width: 100%;
   height: 56px;
   border-radius: 5px;
   border: 1px solid var(--gray-800--);
   font-weight: 700;
   color: var(--gray-800--);
   margin-top: 32px;
   font-size: 1rem;
   cursor: pointer;
}


.pricing__table-container:nth-of-type(2) > .btn-signatures > button{
    background-color: var(--purple--);
    border: 0;
    color: #ffffff;
    
}


.pricing__table-container > .btn-signatures::after{
   content: '';
   width: 100%;
   height: 1px;
   background-color: var(--gray-200--);
   display: block;
   margin-top: 32px;
 }

 .pricing__table-container:nth-of-type(2) > .btn-signatures::after{
    background-color: var(--gray-700--);
}




.subscription__benefits ul{
    margin-top: 32px;
}

.subscription__benefits li{
    margin-bottom: 16px;
    list-style: none;
    font-weight: 400;
    font-size: 1rem;
    color: var(--gray-600--);
    
}

.subscription__benefits li::before{
   content: '';
   background-image: url('../assets/Check.svg');
   width: 20px;
   height: 20px;
   display: inline-block;
   vertical-align: middle;
   margin-right: 8px;

}

.subscription__benefits li::after{
    content: '';
    background-image: url('../assets/Info.svg');
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    
 
 }

 .pricing__table-container:nth-of-type(1) > .subscription__benefits li:nth-of-type(1)::after{
    margin-left: 34px;
  }


  .pricing__table-container:nth-of-type(1) > .subscription__benefits li:nth-of-type(2)::after{
    margin-left: 11px;
  }


 .pricing__table-container:nth-of-type(2) > .subscription__benefits li:after{
    position: absolute;
    left: 87%;
  }



.pricing__table-container:nth-of-type(2) > .subscription__benefits li{
  color: var(--gray-300--);
}

.subscription__benefits .text > p{
    font-weight: 400;
    font-size: 1rem;
    color: var(--gray-600--);
    max-width: 250px;
}


.pricing__table-container:nth-of-type(3) > .subscription__benefits{
    display: flex;
    align-items: center;
    margin-top: 32px;
  }

.subscription__benefits > .check{
    background-image: url('../assets/Check.svg');
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-repeat: no-repeat;
   
}




@media screen and (max-width: 1025px){

    .pricing__table-container{
        width: 100%;
        max-width: 350px;
        min-height: 454px;
        background-color: #ffffff;
        border-radius: 10px;
        border: 1px solid var(--gray-200--);
        padding: 48px 32px 0 32px;
        /* flex:1; */
        position: relative;
    }
    .flex{
        display: flex;
        gap: 25px 25px;
        flex-wrap: wrap;
        justify-content: center;
    }

   
}

